.alert {
  padding: 3px;
  border: 2px solid black;
  margin: 2px;
  border-radius: 15px;
  background-color: darkgray;
  font-weight: bold;
  font-size: large;
}

.alert.success {
  color: green;
  border-color: green;
}
.alert.error {
  color: red;
  border-color: red;
}
